.etecsa-login-manager-on-other {
  color: blue;
}
.etecsa-login-manager-on-host {
  color: #2ffc7a;
}

.etecsa-login-manager-on {
  color: #f7ea31;
}

.etecsa-login-manager-error {
  color: #f2323f;
}
